* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.face {
  transition: 0.4s;
  border: solid 1px #333;
  width: 305px;
  height: 320px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.8);
}

.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border: solid 3px #333;
  width: 300px;
  height: 300px;
}

.face.face1 .content a {
  transition: 0.5s;
}
.face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 28px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  height: 360px;
}
.card:hover .face.face2 {
  transform: translateY(0);
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 27%);
  padding-bottom: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  background-color: #232323;
  height: 90px;
  margin: 0 auto;
}
p {
  color: #232323;
  font-size: 16px;
  font-weight: 700;
  font-family: monospace;
}

.icon {
  color: #232323;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: 5px;
  background: none;
}

.icon:hover {
  border-bottom: solid 3px;
  border-color: orange;
}

.icons-position {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.text-cart {
  margin-top: 90px;
  padding: 15px;
}

.pagination {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}

.btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: #333;
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  color: #ffffff;
  font-size: 16px;
}

.btn:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  font-size: 15px;
  transition: 500ms;
}

.btn:focus {
  outline: none;
}

.red:hover {
  color: #f07171;
  text-shadow: 0px 0px 10px #f07171;
}

.edit-h1 {
  margin-left: 550px;
}

.add-h1 {
  margin-left: 520px;
}

.inp-container {
  margin-left: 200px;
  margin-top: 20px;
}
.inp {
  width: 800px;
  height: 30px;
  /* border: none; */
  margin-top: 2px;
}

.cont-edit-todo {
  width: 100%;
  height: 600px;
  background-color: #444;
}

.cont-add-todo {
  width: 100%;
  height: 600px;
  background-color: #444;
  display: flex;
  flex-direction: column;

  align-items: center;
}

::placeholder {
  color: #5a233b;
  font-style: italic;
  font-size: 20px;
}
.s {
  position: relative;
}
.searh {
  width: 220px;
  height: 30px;
  border-radius: 20px;
  padding-left: 20px;
}
.search-icon {
  position: absolute;
  left: 85%;
  top: 6px;
  color: #333;
}

#btn-add-category-admin {
  margin-top: 350px;
  margin-left: 685px;
  position: absolute;
}

.modal-admin {
  margin-top: 450px;
  color: rgb(23, 23, 95);
}

.box {
  box-shadow: 0px 4px 4px #000;
}

/* details */
.card-details {
  display: flex;
}

.img-cart-details {
  width: 400px;
  height: 500px;
  display: flex;
}

.text-details {
  margin-left: 50px;
}

.name-details {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  font-family: monospace;
}

.description-details {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  margin-top: 10px;
}

.price-details {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}

.h1-details {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 50px;
}

/* details */
